<div class="post">
  <div class="item"><b>Title</b>: <%= post.title %></div>
  <div class="item"><b>Content</b>: <%= post.content %></div>
  <div class="item"><b>Created at</b>: <%= post.created_at %></div>
  <% if post.some_file.attached?  %>
  <div class="item">
    <%== post.some_file.download %>
  </div>
  <% end %>
</div>
